<!-- item -->
<a href="{% url 'transaction_detail' %}" class="bg-white border shadow-sm rounded px-2 py-2 d-flex align-items-center justify-content-between mb-1 text-decoration-none">
    <div class="d-flex align-items-center justify-content-start lh-sm">
        <div class="d-flex align-items-center justify-content-center lh-sm me-2 fs-3 text-white bg-success rounded-circle p-2">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="text-black">
            <p class="d-block mb-1">Seyi Pythonian</p>
            <p class="fs-11 m-0">10:00 PM</p>
        </div>
    </div>
    <div class="ps-2">
        <strong class="text-success"> + &#8358;15,000</strong>
    </div>
</a>
<!-- * item -->

<!-- item -->
<a href="{% url 'transaction_detail' %}" class="bg-white border shadow-sm rounded px-2 py-2 d-flex align-items-center justify-content-between mb-1 text-decoration-none">
    <div class="d-flex align-items-center justify-content-start lh-sm">
        <div class="d-flex align-items-center justify-content-center lh-sm me-2 fs-3 text-white bg-danger rounded-circle p-2">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
        <div class="text-black">
            <p class="d-block mb-1">Mercy Chukwu</p>
            <p class="fs-11 m-0">8:00 PM</p>
        </div>
    </div>
    <div class="ps-2">
        <strong class="text-danger"> - &#8358;5,000</strong>
    </div>
</a>
<!-- * item -->

<!-- item -->
<a href="{% url 'transaction_detail' %}" class="bg-white border shadow-sm rounded px-2 py-2 d-flex align-items-center justify-content-between mb-1 text-decoration-none">
    <div class="d-flex align-items-center justify-content-start lh-sm">
        <div class="d-flex align-items-center justify-content-center lh-sm me-2 fs-3 text-white bg-danger rounded-circle p-2">
            <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
        <div class="text-black">
            <p class="d-block mb-1">Austa Ezeodumegwu</p>
            <p class="fs-11 m-0">11:00 AM</p>
        </div>
    </div>
    <div class="ps-2">
        <strong class="text-danger"> - &#8358;2,500</strong>
    </div>
</a>
<!-- * item -->

<!-- item -->
<a href="{% url 'transaction_detail' %}" class="bg-white border shadow-sm rounded px-2 py-2 d-flex align-items-center justify-content-between mb-1 text-decoration-none">
    <div class="d-flex align-items-center justify-content-start lh-sm">
        <div class="d-flex align-items-center justify-content-center lh-sm me-2 fs-3 text-white bg-success rounded-circle p-2">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="text-black">
            <p class="d-block mb-1">Sayo Bello</p>
            <p class="fs-11 m-0">1:00 AM</p>
        </div>
    </div>
    <div class="ps-2">
        <strong class="text-success"> + &#8358;35,000</strong>
    </div>
</a>
<!-- * item -->
