{% load static %}

<!-- App Header -->
<div class="d-flex justify-content-center align-items-center position-fixed start-0 end-0 border-0 bg-primary text-white py-3 z-index-999">
    <div class="d-flex top-0 position-absolute align-items-center start-0 ms-2">
        <a href="" class="text-white d-flex align-items-center justify-content-center position-relative p-2 my-2">
            <ion-icon class="fs-1" name="person-outline"></ion-icon>
        </a>
    </div>
    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
    <div class="top-0 d-flex align-items-center position-absolute end-0 me-2">
        <a href="" class="text-white d-flex align-items-center justify-content-center position-relative p-2 my-2">
            <ion-icon class="fs-1" name="notifications-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->
