{% extends "base.html" %}
{% load static %}

{% block title %}More{% endblock %}

{% block content %}

<!-- App Header -->
<div class="d-flex justify-content-center align-items-center position-fixed start-0 end-0 border-0 bg-light text-primary border-bottom py-2 z-index-999">
    <div class="d-flex top-0 position-absolute align-items-center start-0 ms-2">
        <a href="javascript:history.go(-1)" class="text-primary d-flex align-items-center justify-content-center position-relative p-2 my-2">
            <ion-icon class="fs-1" name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="fs-5 py-1 px-2 text-black">More</div>
    <div class="top-0 d-flex align-items-center position-absolute end-0 me-2">
        <a href="{% url 'welcome' %}" class="text-primary d-flex align-items-center justify-content-center position-relative p-2 my-2">
            <ion-icon name="exit-outline" class="fs-1"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- App Content -->
<div class="py-5 px-0 mb-3">

    <div class="my-3 text-center">
        <div class="position-relative d-inline-flex">
           <img src="{% static 'images/f_avatar.svg' %}" width="70px" height="70px" alt="avatar" class="rounded-circle border border-3 shadow-sm">
        </div>
        <div class="d-block text-muted">Mercy Uzo Chukwu</div>
    </div>

    <div class="px-3 py-2 mt-1 text-muted">My Account</div>
    <div class="list-group mx-3 shadow-sm">
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Account details
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Account limit
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Statements and reports
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Referrals
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
    </div>

    <div class="px-3 py-2 mt-1 text-muted">Security</div>
    <div class="list-group mx-3 shadow-sm">
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Update your KYC
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Change password
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Change your PIN
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Sham balance
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Change security question
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
    </div>

    <div class="px-3 py-2 mt-1 text-muted">Support</div>
    <div class="list-group mx-3 shadow-sm">
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Frequently asked questions
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Call us on phone
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Send us a mail
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            In-app chat
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
    </div>

    <div class="px-3 py-2 mt-1 text-muted">Legal</div>
    <div class="list-group mx-3 shadow-sm">
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            About us
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Terms and conditions
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
        <a href="" class="lh-lg list-group-item d-flex justify-content-between align-items-center">
            Privacy policy
            <ion-icon name="chevron-forward-outline" class="text-secondary"></ion-icon>
        </a>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <small class="text-muted">v0.1.23</small>
    </div>

</div>

<!-- * App Content -->

{% endblock %}